body {
  font-family: monospace;
  background: teal;
  color: white;
  min-width: 300px;
}
.container{
  display: flex;
  justify-content: center;
  position: relative;
  top: 3em;
}
table{
  border: 5px white solid;
}
td {
  border: 2px white solid;
  width: 10em;
  height: 10em;
  background-color: purple;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
td:hover{
  background-color: yellow;
}
