body {
  font-family: fantasy;
  background: #6e0400;
  color: white;
  min-width: 300px;
}
.container{
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 3em;
}
table{
  border: 5px black solid;
}
td {
  border: 2px black solid;
  width: 10em;
  height: 10em;
  background-color: #f0c2a2;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border-style: dotted;

}
td:hover{
  background-color: #06c6ed;
}
h1 {
  text-align: center;
  text-decoration: underline;
  text-decoration-style: wavy;
}
.symbol{
  border-radius: 10px;
  background-color: #f0c2a2;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.symbol:hover{
  background-color: #06c6ed;
}
