/* IMPORTS */
@import url('https://fonts.googleapis.com/css?family=Righteous|Source+Sans+Pro');

/* END IMPORTS */
body {
  font-family: 'Source Sans Pro', sans-serif;
  background: #6e0400;
  color: white;
  min-width: 300px;
}

.board {
  border: 5px black solid;
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 3em;
}

table {
  border-collapse: collapse;
}

td {
  border: 1px black solid;
  width: 10em;
  height: 10em;
  /* background-color: #f0c2a2; */
  background-color: darkslategrey;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

td:hover {
  /* background-color: #06c6ed; */
  background-color: gold;
}

h1 {
  text-align: center;
  text-decoration: underline;
  font-family: 'Righteous', cursive;
}

.symbol {
  border-radius: 10px;
  background-color: #f0c2a2;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  width: 5em;
  height: 5em;
  text-align: center;
}

.symbol:hover {
  background-color: #06c6ed;
}
